@charset "UTF-8";

body{
    color: rgb(0, 0, 0);
    background-image: linear-gradient(360deg, rgb(255, 255, 255), rgb(216, 158, 0));
    
}
h1{
    text-align: center;
    background-color: rgb(216, 158, 0)
}

h2{
    
}

